<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reading list</title>
</head>
<body>
  <h1>Reading list</h1>
  <ol>
    <li><a href="https://www.amazon.com/Clean-Architecture-Craftsmans-Software-Structure/dp/0134494164" target="_blank">Clean Architecture</a></li>
    <li><a href="https://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines" target="_blank">C++ Core Guidelines</a></li>
  </ol>
</body>
</html>